.logo{
    display:block;
    margin:auto;
    width:50px;
    height:50px;
}

.container{
    max-width:1000px;
    border:2px solid black;
    margin: auto;
    height:60vh;
    padding:33px;
    overflow-y:auto;
    margin-bottom:23px;
    background-color: #c9d6ff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(190, 28%, 29%);
    border-radius: 10px;
    
}

.message{
    background-color:#8a979a;
    box-shadow: 5px 5px 5px hsl(191, 9%, 63%);
    width:200px;
    padding:10px;
    margin: 10px 1px;
    border-radius: 10px;
    border:2px solid black;
    cursor: progress;

}
.right{
    float:right;
    clear:both;
}
.left{
    float:left;
    clear:both;
    background-color:#e6cfca;
    
}
#send-container{
   
    text-align:center;
     max-width:80%;
}
body{
    height:100vh;
    background-image:linear-gradient(rgb(187, 229, 244),rgb(186, 190, 192));
}
#messageInp{
    width:73%;
    padding:10px;
    border-radius:10px;
    border:2px solid rgb(232, 31, 31);
    margin:9px;
}
.btn{
    cursor:pointer;
    border:2px solid black;
    border-radius:6px;
    height:37px;
    background-color: rgb(222, 197, 245);


}